.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.translate {
  transform: skewY(-5deg);
}

.translate-child {
  transform: skewY(5deg);
}

.button:focus {
  outline: none;
}

.circle {
  margin: 0.3rem;
}