@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets/fonts/HelveticaNeue.ttf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	font-family: Helvetica Neue;
	text-decoration: none;
	font-weight: 460 !important;
}

h1 {
	font-family: Helvetica Neue;
	color: #000;
	font-weight: 500;
	font-size: 5vw;
	letter-spacing: 0.5rem;
}

h2 {
	font-family: Helvetica Neue;
	color: #000;
	font-size: 3vw;
	font-weight: 400;
}

h3 {
	font-family: Helvetica Neue;
	color: #000;
	font-size: 2vw;
}

p {
	font-family: Helvetica Neue;
	line-height: 2rem;
	font-size: 1.4vw;
	color: #000;
}

button {
	outline: none;
	border-style: none;
	font-size: 1.2rem;
	padding: 1rem 10vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.translate {
  transform: skewY(-5deg);
}

.translate-child {
  transform: skewY(5deg);
}

.transition {
	transition: 0.4s;
}

button > a {
	color: #2D293C;
}

button:hover > a {
	color: white
}

.slideLeft {
  transition: 8s;
  transform: translateX(-30rem);
}

.slideRight {
  transition: 8s;
  transform: translateX(30rem);
}

.anchor {
	padding: 1rem 10vw;
  border-radius: 20px;
  margin-top: 2vw;
  font-weight: 500;
  border: 1px solid #2D293C;
}

@media (max-width: 768px) {
	.anchor {
		background-color: #2D293C;
		color: white;
	}
}

.anchor:hover {
	transition: .3s;
	background-color: #2D293C;
	color: white;
}

@media(max-width: 768px) {
	a {
		font-size: 4.5vw;
	}

	img {
		max-height: 50vw;
	}

	.slideLeft {
		transition: 10s;
		transform: translateX(-40rem);
	}
	
	.slideRight {
		transition: 10s;
		transform: translateX(40rem);
	}
}

@media(max-width: 425px) {
	p {
		font-size: 5vw !important;
	}

	h2 {
		font-size: 9vw;
		line-height: 3rem;
	}
}

@media(max-width: 768px) and (min-width: 425px) {
	p {
		font-size: 3.4vmin !important;
	}

	h2 {
		font-size: 7vmin;
	}
	a {
		line-height: 3.3rem !important;
	}
}

@media(min-width: 2000px) {
	#porQueCircus {
		margin: 10rem 0px;
	}

	#queEsCircus {
		height: 55rem;
	}

	#insideCircus {
		margin-bottom: 0rem;
	}

	.fourth {
		height: 45rem;
	}

	#queAprendaras {
		padding: 12rem 0rem;
	}

	.sixth {
		height: 45rem;
	}

	#proximasFechas > .translate-child {
		margin-left: 6rem;
		margin-top: 3rem;
	}

	a {
		font-size: 1.5vw;
		line-height: 3rem;
	}

	p {
		line-height: 4rem;
	}

	#footer li {
		line-height: 4rem;
	}
}